.my-user-board {
    box-shadow: var(--blue-shadow);
    background: #fff;
}

.my-user-board .cover {
    width: 100%;
    height: 32vw;
    position: relative;
}

.my-user-board .cover .cover-img {
    width: 100%;
    height: 100%;
}

.my-user-board .cover .bottom-linear-gradient {
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent,rgba(0,0,0,0.7))
}

.my-user-board .user-info {
    width: 100%;
    height: 6rem;
    position: absolute;
    bottom: -3rem;
    display: flex;
}

.my-user-board  .head-pic {
    width: 8rem;
    height: 6rem;
}

.my-user-board  .head-pic img {
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    margin: 0 1rem;
}

.my-user-board .info {
    height: 6rem;
    flex: 1;
}

.my-user-board .info .info-top {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
}

.my-user-board .info .user-name {
    color: #fff;
    font-size: 1rem;
    vertical-align: middle;
}

.my-user-board .info .user-sex {
    height: 1rem;
    vertical-align: middle;
    margin: 0 0.6rem;
}

.my-user-board .info .user-lv {
    height: 1rem;;
    vertical-align: middle;
}

.my-user-board .user-detailed-btn {
    display: block;
    width: 1.2rem;
    height: 3rem;
    line-height: 3rem;
    float: right;
    margin-right: 1rem;
}

.my-user-board .user-detailed-btn img {
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
}

.my-user-board .info .info-bottom {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
}

.my-user-board .info .uid-icon,
.my-user-board .info .good-num-icon {
    height: 0.9rem;
    margin-right: 0.1rem;
    vertical-align: middle;

}

.my-user-board .info .good-num-icon {
    margin-left: 0.6rem;
}

.my-user-board .info .uid,
.my-user-board .info .good-num {
    font-size: 0.8rem;
    color: var(--word-color-light);
    vertical-align: middle;
}

.my-user-board .follow {
    margin-top: 3rem;
    width: 100%;
    height: 4rem;;
    display: flex;
}

.my-user-board .following,
.my-user-board .follower {
    flex: 1;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    position: relative;
}

.my-user-board .follow .v-line {
    width: 1px;
    height: 3rem;
    margin-top: 0.5rem;
    background-color: #e6e6e6;
}

.my-user-board .follow .title {
    color: var(--word-color-light);
    font-size: 0.8rem;
    vertical-align: middle;
    margin-right: 0.4rem;
}

.my-user-board .follow .num {
    color: var(--word-color-primary);
    font-size: 1rem;
    vertical-align: middle;
}

.my-user-board .following a,
.my-user-board .follower a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}