.common-list-auto-loading {
    min-height: 4rem;
    margin-top: 1rem;
    text-align: center;
}

.common-list-auto-loading .loading-icon {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
}

.common-list-auto-loading .loading-icon img {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.2rem;
    animation: rotate 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.common-list-auto-loading  .loading-word {
    vertical-align: middle;
    margin-left: 0.2rem;
    color: var(--word-color-light);
    font-size: 0.8rem;
}

@keyframes rotate {
    form { transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.common-list-auto-loading .failed {
    color: var(--word-color-light);
    font-size: 0.8rem;
    text-align: center;
}

.common-list-auto-loading .retry-btn {
    width: 4rem;
    height: 2rem;
    margin: 0 auto;
    margin-top: 0.4rem;
}

.common-list-auto-loading .nomore {
    color: var(--word-color-light);
    font-size: 0.8rem;
    text-align: center;
}

