.banner-out {
    background-size: 4.2rem auto;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}