.common-no-link-title{
    width: 100%;
    padding: 1rem var(--page-side-blank);
    box-sizing: border-box;
    display: flex;
    position: relative;
}

.common-no-link-title .blue-mark {
    width: 3px;
    height: 1.2rem;
    background-color: var(--theme-color);
    position: absolute;
    margin-left: -0.8rem;
}

.common-no-link-title .title-name {
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.9rem;
    color: var(--word-color-primary);
    flex: 1;
}

