:root {
    /*尺寸*/
    --title-bar-height: 4rem;
    --page-top-blank: 4rem;
    --nav-bar-height: 4.4rem;
    --page-bottom-blank: 4.4rem;
    --page-side-blank: 0.8rem;

    /*颜色*/
    --theme-color: #22ade5;
    --word-color-primary: #424242;
    --word-color-light: #959595; 
    --back-ground-gray:#f5f5f5;
    --blue-shadow: 0 1px 1px rgba(44, 145, 185, 0.096);
}
.App {
    overflow-x: hidden;
}
.main-pages-wrapper {
    padding-top: var(--title-bar-height);
    padding-bottom: var(--nav-bar-height)
}
.other-pages-wrapper {
    
}