.banner-out {
    background-size: 4.2rem auto;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

/*修改框架默认样式*/

.carousel .control-dots {
    text-align: right ;
    padding: 0 6px;
    box-sizing: border-box;
}

.carousel .control-dots .dot {
    opacity: 1;
    width: 6px;
    height: 6px;
    margin: 0 2px;
    background: #fff;
    box-shadow:none;
}

.carousel .control-dots .dot.selected {
    background: #f45a8d;
}