.strategy-list {
    margin-top: 0.6rem;
}

.strategy-list .strategy-list-title {
    width: 100%;
    padding: 1rem var(--page-side-blank);
    box-sizing: border-box;
    font-size: 0.9rem;
    color: var(--word-color-primary);
}