html{font-size:12px}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:13px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:15px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:17px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:22px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:24.5px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:26.5px}}
@media screen and (min-width:800px){html{font-size:25px}}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f5f5f5 !important;
}

a, img {
  -webkit-touch-callout: none; /*禁止长按链接与图片弹出菜单*/
}

a,button,input,optgroup,select,textarea {
  -webkit-tap-highlight-color:rgba(0,0,0,0); /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
}

body{
  -webkit-overflow-scrolling:touch;
}