.game-icon {
    width: 4.2rem;
}
.game-icon a {
    width: 4.2rem;
    display: block;
}

.game-icon img {
    display: block;
    width: 4.2rem;
    height: 4.2rem;
    /* background: yellow; */
    border-radius: 12px;
    margin: 0;
}

.game-icon-name {
    width: 90%;
    margin: 0.8rem 5%;
    font-size: 0.8rem;
    height: 2rem;
    text-align: center;
    line-height: 1rem;
    word-break: break-all;
    color: var(--word-color-primary);
    overflow: hidden;
}