.common-game-icon .icon {
    width: 4.2rem;
    height: 4.2rem;
    position: relative;
    background-size: 4.2rem 4.2rem;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
    overflow: hidden;
}

.common-game-icon img {
    width: 4.2rem;
    height: 4.2rem;
}

.common-game-icon a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.common-game-icon-name {
    width: 90%;
    margin: 0.8rem 5%;
    font-size: 0.8rem;
    height: 2rem;
    text-align: center;
    line-height: 1rem;
    word-break: break-all;
    color: var(--word-color-primary);
    overflow: hidden;
}