.link-title{
    width: 100%;
    padding: 1rem var(--page-side-blank);
    box-sizing: border-box;
    display: flex;
}

.link-title .title-name {
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.9rem;
    color: var(--word-color-primary);
    flex: 1;
}

.link-title a {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
}

.link-title img {
    width: 1.2rem;
    height: 1.2rem;
}
